@import 'variables.scss';

a {
    &:visited,
    &:link {
        transition: all ease 0.2s;
        text-decoration: none;
    }
    &:hover {
        text-decoration: underline;
    }
}

#timer {
    background-color: #888;
    color: #fff;
    padding: 15px;
    text-align: center;
    .time {
        display: block;
        font-size: 30px;
        font-weight: bold;
    }
    .type {
        font-size: 12px;
        display: block;
    }
}

#card-vote {
    .row {
        margin-right: 0;
        margin-left: 0;
        > .col {
            padding: 0;
        }
    }
    .card-title-block{
        margin: 15px;
    }
    .card-body {
        padding: 0;
    }
    #daftar-calon-hmj {
        background: $hmjContent;
    }
    #daftar-calon-bem {
        background: $bemContent;
    }
    #daftar-calon-dpm {
        background: $dpmContent;
    }
    .nav-pills {
        .nav-link {
            padding: 15px 30px;
            border-radius: 0;
            .desc {
                text-align: center;
                display: block;
                font-size: 12px;
            }
            &.nav-hmj {
                &.active {
                    background: $hmj;
                }
            }
            &.nav-bem {
                &.active {
                    background: $bem;
                }
            }
            &.nav-dpm {
                &.active {
                    background: $dpm;
                }
            }
        }
    }
    .tab-pane {
        position: relative;
    }
    .card-calon {
        &:first-child {
            margin-left: 20px;
        }
        border-radius: 5px;
        margin-right: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 0;
        button {
            padding: 15px 30px;
            border-radius: 3px;
            cursor: pointer;
        }
        .card-body {
            padding: 15px;
            .row {
                .col-sm {
                    padding: 10px;
                }
            }
            h6 {
                font-size: 15px;
                font-weight: 300;
            }
        }
    }
    .mask {
        position: absolute;
        width: 100%;
        height: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        z-index: +10;
        background-color: rgba(0, 0, 0, 0.5);

        h4 {
            color: #fff;
            font-size: 30px;
            font-weight: 100;
        }
    }
    .blur {
        filter: blur(5px);
    }
}