$hmj: linear-gradient(#ef5350, #e74a47);
$hmjContent: linear-gradient(#e74a47, #e53935);
$dpm: linear-gradient(#ffa726, #fc9f15);
$dpmContent: linear-gradient(#fc9f15, #fb8c00);
$bem: linear-gradient(#66bb6a, #58af5c);
$bemContent: linear-gradient(#58af5c, #43a047);